* {
  padding: 0;
  margin: 0;
}

.padding-section {
  padding: 40px 80px 100px;
  flex-wrap: wrap;
}

hr {
  border-bottom: 0.5px solid #ddd;
}

section {
  box-shadow: 0px 6px 5px rgb(0 0 0 / 20%);
}

section.contact {
  box-shadow: 0px 0px 0px rgb(0 0 0 / 20%);
}

h1,
h2,
h3,
h4 {
  font-family: Varela;
}

h2 {
  font-size: 35px;
  padding: 50px 0;
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 25px;
  padding-bottom: 30px;
}

.padding-section.footer {
  padding: 40px 80px 30px;
  flex-wrap: wrap;
}

// page
.page {
  max-width: 1100px;
  margin: 100px auto;
  border: 2px solid #ddd;
}

// header
.header {
  h1 {
    font-size: 45px;
    text-align: center;
    margin: 100px 0 50px 0;
    text-transform: uppercase;
  }

  &__nav {
    display: flex;
    justify-content: center;

    li {
      list-style: none;
      padding: 0 30px;
      cursor: pointer;
      position: relative;

      a {
        font-size: 18px;
        color: #999;
        text-transform: uppercase;
        font-family: Varela;
        transition: 0.5s;
        padding: 10px 20px;

        &:hover {
          background-color: #a11d1e;
          transition: 0.5s;
          color: white;
        }
      }

      .line-right::after {
        content: "";
        width: 80%;
        height: 1px;
        background-color: #999;
        position: absolute;
        bottom: 9px;
        margin-left: 30px;
      }
      .line-left::after {
        content: "";
        width: 80%;
        height: 1px;
        background-color: #999;
        position: absolute;
        bottom: 9px;
        margin-right: 30px;
        left: -140px;
      }
    }
  }
}

// about
.about {
  display: flex;
  justify-content: space-between;

  &__img {
    display: flex;
    justify-content: center;
    width: 48%;

    img {
      width: 100%;
      box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    }
  }

  &__detail {
    width: 48%;
  }
}

// my work
.my-work {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0px;

  &__detail {
    flex: 1;
    display: flex;
    flex-direction: column;

    img {
      width: 300px;
    }
  }
  &__img {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

// contact
.contact {
  display: flex;
  &__form {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin: auto;

    .input {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 15px;
        font-family: system-ui;
      }

      input,
      textarea {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #999;
        margin-bottom: 30px;
        resize: none;
      }
    }

    .btn {
      color: white;
      background-color: #a11d1e;
      border: 1px solid #a11d1e;
      padding: 14px 26px;
      border-radius: 3px;
      float: right;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        color: #a11d1e;
        background-color: white;
        transition: 0.3s;
      }
    }
  }
}

// footer
.footer {
  .icons {
    display: flex;
    justify-content: flex-end;
    img {
      width: 30px;
      padding: 20px 10px;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }
}

.tooltip {
  display: inline;
  position: relative;
}

.tooltip:hover:after {
  position: absolute;
  display: flex;
  justify-content: center;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  margin: auto 0;
  font-size: 16px;
  padding: 13px;
  min-width: max-content;
  bottom: 70px;
  left: -50%;
}

// copyright
.copyright {
  padding-bottom: 20px;
  text-align: center;
  color: #999;
  position: relative;

  .arrow {
    width: 30px;
    position: absolute;
    right: 30px;
    top: -20px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1020px) {
  .about {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .about__img img {
    margin-bottom: 30px;
  }
  .my-work__detail img {
    // display: none;
  }
}

@media only screen and (max-device-width: 412px) {
  .padding-section {
    padding: 40px 20px 100px;
  }
  h2 {
    padding: 30px 0 50px !important;
  }
  .page {
    max-width: 1100px;
    margin: 0px auto;
    border: none;
  }
  .header h1 {
    margin: 50px 0 50px 0;
  }
  .header h1 {
    font-size: 35px;
  }
  .header__nav li {
    padding: 0px;
  }
  .header__nav li a {
    padding: 10px 15px;
  }
  .line-right::after {
    display: none;
  }
  .line-left::after {
    display: none;
  }
  .about {
    flex-direction: column;
  }
  .header__nav li a {
    font-size: 16px;
  }
  .about__img {
    width: 100%;
    margin-bottom: 30px;
  }
  .about__detail {
    width: 100%;
  }
  #work {
    display: block;
    position: relative;
  }
  .my-work__detail img {
    top: 35px;
    width: 115px;
    left: 10px;
    position: absolute;
  }
  .my-work-2 {
    flex-direction: column-reverse !important;
  }
  .my-work__detail {
    margin-bottom: 30px;
    padding: 0px 0px 40px;
  }
  .my-work {
    flex-wrap: unset;
    flex-direction: column;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__form {
    width: 100%;
  }
  .contact__form .input input,
  .contact__form .input textarea {
    padding: 10px;
  }
  .padding-section.footer {
    padding: 40px 20px 30px;
  }
  .padding-section {
    padding: 40px 20px 20px;
  }
  .contact__form .btn {
    width: 100%;
  }
  .contact__form .input label {
    margin-bottom: 6px;
  }
  .contact img {
    margin-top: 20px;
    width: 60% !important;
  }
  h2 {
    padding: 0 0 50px;
  }
  .footer .icons {
    justify-content: space-around;
  }
  .padding-section.footer {
    padding: 20px 20px 30px;
  }
}

@media only screen and (max-device-width: 360px) {
  .my-work__detail img {
    width: 90px;
  }
}
