<div class="page">
  <!-- header -->
  <div class="header padding-section" id="header">
    <h1>Dejan Subotic</h1>
    <ul class="header__nav">
      <li><a (click)="toAbout()" class="line-left">about me</a></li>
      <li><a (click)="toWork()"> my work</a></li>
      <li><a (click)="toContact()" class="line-right">contact</a></li>
    </ul>
  </div>

  <!-- about me -->
  <h2>About me</h2>
  <section class="about padding-section" id="about">
    <div class="about__img">
      <img src="../../assets/img/avatar/me1.gif" alt="me" />
    </div>
    <div class="about__detail">
      <p>
        &nbsp; &nbsp; &nbsp;Hello, my name is Dejan Subotic and I’m a frontend
        developer. I’m from Bosnia and Herzegovina and my current residence is
        Graz, Austria. I graduated in economics, department of logistics, but my
        big desire was to try my hand at programming. I have always thought that
        programming languages ​​are the languages ​​of the future, especially at
        the time of the pandemic, when it turned out to be extremely important
        to optimize the way we work from home, where I found space and time to
        devote more time to learning and building my future profession. My
        journey lasts almost a year and a half, where I started to learn on my
        own what has always interested me. Through this learning process I
        worked with <span>HTML</span>, <span> CSS</span>,<span> SCSS</span>,
        <span>SASS</span>, <span> JavaScript</span>, <span> Bootstrap</span>,
        <span>Angular</span>, <span>NgRX</span>, <span> RxJS</span>,
        <span> Docker</span>,<span> Google Firebase Firestore</span>,<span>
          Angular Material</span
        >, <span> Git</span>, <span>GitHub</span> and now I'm in the process of
        learning backend: <span>Node.js</span>, <span>Express.js</span>,
        <span>MongoDB</span> and <span>Mongoose</span>. My sources were online
        platforms with courses, hundreds of tutorials, many hours of learning
        and daily research in this field. For me programming is fun and
        challenging, therefore I'm looking forward for further improvement and
        learning a new programming languages. The product of my work so far is
        this website which is conceived as a short portfolio as a way I can
        present myself best. Below you can see some of my projects and you can
        download my CV
        <a
          href="../../assets/dejan-subotic.pdf"
          download="Dejan Subotic CV"
          title="Download CV"
          >here</a
        >.
      </p>
    </div>
  </section>

  <!-- my work -->
  <h2 style="margin-top: 80px">My Work</h2>
  <section class="padding-section" id="work">
    <div class="my-work">
      <!-- nike -->
      <div class="my-work__detail">
        <h3>Online Shop App</h3>
        <p>
          This web application was made based on the look of the Nike online
          shop and was originally designed only for the purpose of exercises for
          HTML and CSS, but in the process I decided to rework it in Angular and
          to add certain functionalities and additionally insert some of mine
          ideas related to page design. For backend data I used Firebase, and
          the application is completely responsive and customized for all types
          of devices, tablets, mobile phones and desktops. The site is also
          hosted and you can visit site by clicking on this
          <a href="https://nike-2e4af.firebaseapp.com/home">link</a>. Also the
          code is on my GitHub account and if you want to see it you can click
          on this <a href="https://github.com/subotic1989/nike">link</a>.
        </p>

        <img
          src="../../assets/img/avatar/work.png"
          alt="avatar_work"
          class="avatar-img"
        />
      </div>
      <div class="my-work__img">
        <img src="../../assets/img/nike2.gif" alt="nike" />
      </div>
    </div>

    <!-- tennis -->
    <div class="my-work tennis">
      <div class="my-work__img">
        <img src="../../assets/img/tennis2.gif" alt="tennis" />
      </div>
      <div class="my-work__detail">
        <h3>Tennis App</h3>
        <p>
          Unlike the first application, which was basically a copy of the
          already existing Nike online shop, this time I wanted to make
          something more personalized using the knowledge gained so far, and
          something that was exclusively my idea. It is a Tennis application,
          which I am a huge fan of and an active player too. The application
          contains information about the players I train with, a gallery of
          pictures, locations where tournaments are held and etc. The
          application will be expanded, with new functionalities, such as
          current player rankings, statistics, new albums, events. This
          application is more complex than the first application, it uses NgRX
          to manipulate data, custom components, 3-language localization,
          authentication, roles, guards, interceptors, it is also hosted on the
          web and it is responsive to all types of devices. Like the previous
          one, this application uses the Firebase as a backend. The application
          contains an Admin role that has the ability to make some changes like
          delete, add or edit player and photos uploads. If you want to visit
          this application yourself, you can log in
          <a href="https://tennis-4268b.web.app/auth/login">here</a> as a User
          with the following information: email: <em>test@tennis.com</em>,
          password: <em>test123</em>
          and the code can be found at this
          <a href="https://github.com/subotic1989/tennis">link</a>.
        </p>
      </div>
    </div>

    <!-- crypto -->
    <div class="my-work crypto">
      <div class="my-work__detail">
        <h3>Crypto Tracker</h3>
        <p>
          This application is used to track the price of cryptocurrency. To
          retrieve the data I used API:
          <a href="https://www.coingecko.com/en/api">www.coingecko.com</a>. This
          application is not hosted but you can see the code on GitHub
          <a href="https://github.com/subotic1989/crypto-checker">here</a>.
        </p>
      </div>

      <div class="my-work__img">
        <img src="../../assets/img/crypto.gif" alt="crypto" />
      </div>
    </div>
  </section>

  <!-- contact -->
  <section class="contact padding-section" id="contact">
    <h2>Contact</h2>
    <p>
      If you like my work or for any additional questions, fell free to contact
      me.
    </p>
    <div class="container">
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input">
          <label for="name">NAME:</label>
          <input id="name" type="text" formControlName="name" />
        </div>
        <div class="input">
          <label for="email">EMAIL:</label>
          <input id="email" type="email" formControlName="email" />
        </div>
        <div class="input">
          <label for="message">MESSAGE:</label>
          <textarea
            id="message"
            type="text"
            cols="30"
            rows="10"
            formControlName="content"
          ></textarea>
        </div>
        <button class="btn" type="submit">Send E-mail</button>
      </form>
      <img src="../../assets/img/avatar/call3.gif" alt="kiss" />
    </div>
  </section>

  <!-- footer -->
  <div class="footer padding-section">
    <hr />
    <div class="icons">
      <a
        href="https://github.com/subotic1989"
        title="Go to GitHub"
        class="tooltip"
      >
        <img src="../../assets/img/icons/github.svg" alt="git" />
      </a>
      <a
        href="https://www.facebook.com/suboticskubo.dejan"
        title="Go to Facebook"
        class="tooltip"
      >
        <img src="../../assets/img/icons/facebook-round.svg" alt="fb" />
      </a>

      <a title="subotic.dejan89@gmail.com" class="tooltip">
        <img src="../../assets/img/icons/email-round-solid.svg" alt="email" />
      </a>
      <a title="+43 667 7726 313" class="tooltip">
        <img src="../../assets/img/icons/phone-call.svg" alt="phone" />
      </a>
      <a
        href="../../assets/dejan-subotic.pdf"
        download="Dejan Subotic CV"
        title="Download CV"
        class="tooltip"
      >
        <img src="../../assets/img/icons/about-me.svg" alt="cv" />
      </a>
    </div>
    <hr />
  </div>

  <!-- copyright -->
  <div class="copyright">
    <p>© 2022 subotic dejan</p>
    <img
      src="../../assets/img/icons/top-arrow.svg"
      alt="arrow"
      class="arrow"
      (click)="toNav()"
    />
  </div>

  <!-- dialog -->
  <app-dialog *ngIf="showDialog"> </app-dialog>
</div>
